<!DOCTYPE html>
<html lang="en" ng-app="Projeto1">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
  </head>
  <body ng-controller="PrimeiroController">
    <input type="text" ng-model="meuNome" placeholder="Digite aqui" />
    <h1>{{ meuNome }}</h1>
    <input
      type="text"
      ng-model="campoNumero"
      ng-change="varificaValor(campoNumero)"
      placeholder="Digite um número"
    />
    {{ msg }}

    <br />
    <input type="text" placeholder="Filtrar estados" ng-model="teste" />
    <ul>
      <li ng-repeat="f in ufs | orderBy:'uf' | filter:teste">{{f.uf | lowercase}}</li>
    </ul>
  </body>
  <script src="app.js"></script>
</html>
